// $body-font-family : 'Noto Sans KR', sans-serif;
$body-font-family : 'Spoqa Han Sans Neo', 'sans-serif';
$color-w : #FFDF4D;
$color-g : #2CC997;
$color-b : #6FA7FF;

$mainsand: #FFF492;

$mobile: 768px;

// $btpfont: 'Noto Sans KR', sans-serif;
$btpfont: 'Spoqa Han Sans Neo', 'sans-serif';
$btpblack:#343A40;
$mainblue: #1A5EFF;
$btpgray:#EBEBEB;
$redbtn:#FF6B6B;
$mob-gray:#D2D2D2;
$btp-light-gray: #BFBFBF;
$btp-green: #04B27B;
$btp-mint: #75FFE6;

$btp-border: 25px 25px 0 25px;
$btn-border:  15px 15px 0 15px;

.btp-container {
  margin: 0 auto;
  max-width: 1300px;
  width: 80%;
}

.btp-title {
  padding: 70px 0;
  h1 {
    font-size: 49px;
    color: $btpblack; 
    font-weight: 700;
    line-height: 61.35px;
  }
  p{ 
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  }
}