$bn-title: white;
$bn-desc: white;

//banner
.banner-text{
  float: left;
}
.banner {
  display: block;
  width: 100%;
  height: 76vh;
  background-size: cover;
  background-position: 80% center;
  background-image: url('../assets/images/banner.png');
  background-color: cadetblue;
}

.banner-text{
  margin: 80px 0 110px 15%;
  h1{
    color: $bn-title;
    font-weight: bold;
    font-size: 8vh;
    margin-bottom: 4vh;
  }
  p{
    color: $bn-desc;
    font-size: 2.5vh;
    line-height: 4.5vh;
  }
}


//-> brand
.brand {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18rem auto;
  text-align: center;

  h1 {
    margin-bottom: 6vh;
    font-family:$btpfont, bold;
    font-weight: bold;
    font-size: 8vh;
    color: white;
  }

  p {
    margin-top: 6vh;
    margin-bottom: 8vh;
    font-size: 2.2vh;
    line-height: 3.5vh;
    color: $btpgray;
  }
  
  img {
    height: 40vh;
  }

  .showMore {
    display: inline-block;
    width: 13rem;
    padding: 1.5rem 0;
    border-radius: 15px;
    text-align: center;
    font-size: 2.2vh;
    color: white;
    background-color: $btpblack;
  }
  
}

@media (max-width: $mobile) {
  .banner{
    .banner-text{
      margin: 0 0 0 45px;
    }
    background-image: url('../assets/images/banner_m.png');
    background-position: 80% 80%;
    height:  300px;
    h1{
      font-size: 30px;
      margin-top: 42px;
      margin-bottom: 17px;
    }
    p{
      margin-bottom: 32px;
      font-weight: regular;
      font-size: 10px;
      line-height: 15px;
      color: $mob-gray;
    }
  }

  .brand{
    text-align: left;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: max-content;

    :nth-child(1){
      order: 1;
    }
    :nth-child(2){
      order: 3;
      width: 71vw;
      margin-left: auto;
      margin-right: auto;
    }
    :nth-child(3){
      order: 2;
    }
    :nth-child(4){
      order: 4;
      margin: 0 auto;
    }

    h1{
      font-size: 30px;
      line-height: 30px;
      margin-top: 42px;
      margin-bottom: 17px;
    }
    p{
      color: $mob-gray;
      font-weight: regular;
      font-size: 10px;
      line-height: 15px;
      margin: 0;
    }
    img {
      width: 305px;
      margin-top: 32px;
      margin-bottom: 42px;
    }

    .showMore {
      width: 71px;
      height: 23px;
      font-size: 12px;
      margin-bottom: 66px;
    }
  }

}