$bn-title: white;
$bn-desc: white;

//banner
.banner-text{
  float: left;
}
.banner {
  display: block;
  width: 100%;
  height: 668px;
  background-size: cover;
  background-position: 80% center;
  background-image: url('../assets/images/banner.png');
  background-color: cadetblue;
}

.banner-text{
  // margin-left: 15%;
  margin: 80px 0 110px 15%;
  h1{
    color: $bn-title;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 49px;
  }
  p{
    color: $bn-desc;
    font-size: 20px;
  }
}


//-> brand
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 160px auto;
  text-align: center;

  h1 {
    margin-top: 56px;
    margin-bottom: 62px;
    font-family:$btpfont, bold;
    font-weight: bold;
    font-size: 106px;
    line-height: 88px;
    vertical-align: middle;  
    color: white;
  }

  p {
    margin-top: 41px;
    margin-bottom: 100px;
    font-size:21px;
    line-height: 32px;
    color: $btpgray;
  }

}
.morebtn {
  display: inline-block;
  width: 148.5px;
  padding:3px;
  border-radius: 15px;
  text-align: center;
  font-size: 26px;
  color: white;
  font-weight: bold;
  background-color: $btpblack;
}

@media (max-width: $mobile) {
  .banner{
    .banner-text{
      margin: 0 0 0 45px;
    }
    background-image: url('../assets/images/banner_m.png');
    background-position: 80% 80%;
    height:  300px;
    h1{
      font-size: 30px;
      margin-top: 42px;
      margin-bottom: 17px;
    }
    p{
      margin-bottom: 32px;
      font-weight: regular;
      font-size: 10px;
      line-height: 15px;
      color: $mob-gray;
    }
  }

  .brand{
    text-align: left;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 350px;

    :nth-child(1){
      order: 1;
    }
    :nth-child(2){
      order: 3;
      margin-left: auto;
      margin-right: auto;
    }
    :nth-child(3){
      order: 2;
    }
    :nth-child(4){
      order: 4;
      margin: 0 auto;
    }

    h1{
      font-size: 30px;
      line-height: 30px;
      margin-top: 42px;
      margin-bottom: 17px;
    }
    p{
      color: $mob-gray;
      font-weight: regular;
      font-size: 10px;
      line-height: 15px;
      margin: 0;
    }
    img {
      width: 305px;
      margin-top: 32px;
      margin-bottom: 42px;
    }
  }

  .morebtn {
    width: 71px;
    height: 23px;
    font-size: 12px;
    margin-bottom: 66px;
  }

}