header { box-sizing: border-box; }
header a {text-decoration: none; outline: none }

// top black bar
.bar {
  display: flex;
  padding: 0 8%; //임의
  height: 48px;
  background-color: $btpblack;
  line-height: 48px;
  vertical-align: middle;
  color: $btpgray;
}

.music-player{
  flex: none;
}
.clock{
  margin-left: auto;
}

// LOGO
.header {
  background-color: white;
  width: 100%;
  height: 252px;
  box-shadow: 0 6px 8px -7px black;
}

.header-logo {
  text-align: center;
  padding: 60px 0 40px 0;
}

//MENU
nav {
  text-align: center;
}

nav ul {
  display: inline;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

//MENU
.menu {
  display: block;
  margin: 0 auto;
  padding: 0 0 40px 0;
}

.menu-item {
  font-size: 17px;
  color: $btpblack;
  text-decoration: none;
  margin: 0 15px;
}

.menu-text {
  margin: 0 7.5px;
}

//PRIVATE MENU
.my-menu {
  position: absolute;
  top: 220px;
  right: 13%; //임의
}
.my-menu img{
  display: inline-block;
}