@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

.body {
  padding-bottom: 10vh;
  background-color: #1A5EFF;
}

#topBtn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 97;
  img {
    width: 4vw;
  }
}
#topBtn:hover {
  transform: scale(1.1);
}

.title{
  img { 
      width: 18px;
      margin-right:16px; 
  }
  h1 {
      display: inline-block;
      margin:0;
      font-weight: bold;
      vertical-align: middle;
  }
  p { 
      font-size: 2rem;
      margin-top: 1vh;
      margin-left: 42px;
  }
}
.title-g {
  margin-bottom: 4vh;

  img { content:url("../assets/icon/circle-green.png"); }
  h1 { 
      color: #FFFFFF;
      font-size: 5vh;
  }
  p { color: #D2D2D2; }
}
.title-w {
  margin-bottom: 3vh;

  img { content:url("../assets/icon/circle-white.png"); }
  h1 { 
      color: #343A40;
      font-size: 2.6vh;
  }
}

//blue mainpage
.main {
  // width: max-content;
  // margin: 0 auto 23rem auto;
}

// 메인 프로젝트
.btp-menu {
  // width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

//project menu
.project-menu{
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 253px;
  text-align: center;
}
.project-item-front {
  position: relative;
  margin: 0 23px;
  width: 369px;
  height: 520px;
  border-radius: $btp-border;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $btpblack;
    .project-title{
      h1 {
        margin: 0 0;
        font-weight: bold;
        font-size: 25px;
        line-height: 36px;
        color: $btpblack;
      }
      h2 {
        margin: 0 0;
        font-weight: bold;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
      }
    } 
    .container{
      text-align: center;
      .project-text {
        display: none;
      }
    }

    .project-icon {
      display: inline-block;
      height: 42%;
      margin: 44px auto 50px auto;
    }
    
    .showbtn {
      position: absolute;
      top:24.45px;
      right: 19.76px;
      img {
        margin: 0 0;
        width: 35px; //이거 머더라??
      }
    }

    a {
      position: absolute;
      bottom: 43px-25px;
      left: 50%;
      transform:translate(-50%, -50%); 

      .start {
        margin: 0;
        border-radius: $btn-border;
        width: 130px;
        height: 50px;
        background-color: $redbtn;
        font-size: 20px;
        font-weight: bold;
        color: white;
        line-height: 50px;
        vertical-align: middle;
      }
    }
    
}
.project-item-front:hover {
  transform: scale( 1.1 );
}
.project-item-front .start:hover {
  background-color: #E04F53;
}

.project-item-back{
  @extend .project-item-front;

  .container {
    text-align: left;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    
    .project-title{
      // position: absolute;
      // top: 38px;
      // left: 47px;
      text-align: left;
      width: fit-content;
      margin: 38px 0 135px 0;
      h1 {
        font-weight: bold;
        font-size: 25px;
      }
      h2 {
        font-size: 16px;
      }
    }
    .project-text {
      display: inline-block;
      margin: 0;
      font-size: 18px;
      line-height: 40px;
      color: $btpblack;
    }
  }
  .project-icon {
    position: absolute;
    height: auto;
    bottom: 308px;
    right: 30px;
    margin: 0;
  }

} 




@media (max-width: $mobile) {

  .body {
    padding-bottom: 5vh;
  }

  .title{
    margin-left: 2rem;
    margin-bottom: 0;
  
    img { display: none; }
    h1 {
        display: inline-block;
        margin:0;
        font-weight: bold;
        vertical-align: middle;
    }
    p { 
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-left: 0;
    }
  }
  .title-g {
    
    margin-bottom: 3rem;

    img { content:url("../assets/icon/circle-green.png"); }
    h1 { 
        color: #FFFFFF;
        font-size: 2.5rem;
    }
    p { color: #D2D2D2; }
  }
  .title-w {
    margin-bottom: 1.5rem;
    img { content:url("../assets/icon/circle-white.png"); }
    h1 { 
        color: #343A40;
        font-size: 1.5rem;
    }
  }
  
  .main {
    // width: 700px;
    // width: max-content;
    width: 100%;
    // margin: 0 auto 10rem auto;
  }
  
  .project-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
    text-align: left;
  }

  .project-item-front{
    position: relative;
    background-color: white;
    margin-bottom: 27px;
    padding: 18px;
    width: auto; //크기
    height: max-content;
    white-space:nowrap;
    min-width: 300px;

    .project-icon {
      margin: 0;
      height: 103px;
    }    
    .container {
      text-align: left;
      display: inline-block;
      width: fit-content;

      .project-title{
        display: inline-block;
        margin-left: 15px;
        h1 {
          display: inline-block;
          font-size: 2rem;
          // font-size: 20px;
          line-height: 20px;
          font-weight: bold;
          margin: 0 0;
          color: $btpblack;
        }
        h2 {
          font-size: 1rem;
          line-height:10px;
          margin: 5px 0 13px 0;
          font-weight: bold;
          color: $btpblack;
        }  
      }

      .project-text{
        display: none;
      }
      
    }
    
    .showbtn{
      //테스트 및 배치+임시용 V 버튼
      position: absolute;
      right: 18px;
      top: 18px;

      img{
      width: 22px;
      }
    }
    a {
      position: absolute;
      transform: none;
      left: auto;
      bottom: 18px;
      right:18px;

      .start { //몹ㅏ일
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 32px;
        line-height: 30px;
        border-radius: 8px 8px 0 8px;
        font-size: 15px; //임의      
        margin: 0;
      }
      
    }
  }
  
  .project-item-back{
    .project-icon{
      display: none;
    }
    .container {
      margin-bottom: 26px;
      margin-left: 20px;//임의
      .project-title{
        // width: 100px;
        margin: 0 0;
        h1{
          line-height: 33px;
          font-size: 25px;
          font-weight: bold;
        }
        h2{
          font-size: 10px;
          margin: 8px 0 24px 0;
        }
      }
      .project-text {
        b{
          line-height: 18px;
        }
        display: block;
        white-space:nowrap;
        font-size: 10px;
        line-height: 16px;
        color: $btpblack;
      }
    }
    a{
      bottom: 44px;
    }
  }
  
}