.myturtle {

    color: #FFFFFF;
    margin-bottom: 20rem;
    
    .myturtle-title {
        position: relative;
        
        h1 {
            font-size: 6rem;
            font-weight: bold;
            margin-right: 5rem;
        }

        img {
            position: absolute;
            right: 0;
        }
    }

    .goal {
        min-width: 37%;
    }

    .card-w {
        background-color: $color-w;
    }
    .card-g {
        background-color: $color-g;
    }
    
    .view {
        min-height: 30rem;
        position: relative;
        margin-left: 1.5rem;
        padding: 2rem 3rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;

        img { 
            width: 55%;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
        }

        cm-t {
            display: block;
            font-size: 2.5rem;
            font-weight: bold;
        }
        cm-m {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            
            input[type="checkbox"] {
                display:none;
            }
            input[type="checkbox"] + label {
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
            }
            input[type="checkbox"] + label span {
                display:inline-block;
                width:3rem; height:3rem;
                margin-right: 20px;
                vertical-align:middle;
                border: 3px solid #FFFFFF;
                border-radius: 100%;
                cursor:pointer;
            }
            input[type="checkbox"]:checked + label span {
                background-color: #FFFFFF;
                border-radius: 100%;
            }
            
        }
        cm-b {
            position: absolute;
            bottom: 0; right: 2rem;
            
            f1 {
                font-size: 2.5rem;
                font-weight: bold;
                margin-right: 15px;
            }
            f2 {
                font-size: 6rem;
                font-weight: bold;
                color: rgb(0,0,0,0);
                -webkit-text-stroke: 1px #FFF;
            }
        }
    }
    
}
.calender-menu {

    width: 90%;
    margin: auto;
    
    .calendar-pad {
        position: relative;

        .calendar-card {
            position: absolute;
            padding: 10%;
            z-index: 1;
    
            .calendar-logo {
                width: 30%;
                display: block;
                margin: 0 auto;
            }
    
            hr {
                color: #FFFFFF;
                border: solid 3px #FFFFFF;
                margin-top: 3rem;
                margin-bottom: 5rem;
            }
    
            .calender-card {
                background-color: #FFFFFF;
                border-radius: 44px;
                margin: 0 auto;
                padding: 4rem 3rem 0.5rem 3rem;
    
                .arrow-left {
                    transform: rotate(90deg);
                }
                .arrow-right {
                    transform: rotate(-90deg);
                }
    
                .calender-date {
                    font-size: 5.4rem;
                    font-weight: bold;
                    color: #343A40;
                }
    
                .calender-goal {
                    margin-top: 3rem;
                    color: #343A40;
    
                    .f1 {
                        font-size: 25px;
                        margin-right: 1rem;
                    }
                    .f2 {
                        font-size: 71px;
                        font-weight: bold;
                        line-height: 71px;
                        margin-right: 1rem;
                    }
                }
    
                #calender_target {
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 1rem 3rem;
                }
    
                .day {
                    height: 10rem;
                    border-top-left-radius: 2rem;
                    border-top-right-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                    font-size: 6rem;
                    text-align: center;
                }
    
                .day-d {
                    color: rgb(0,0,0,0);
                    -webkit-text-stroke: 1px #FFFFFF;
                    background-color: #D9E0E2;
                }
                .day-b {
                    color: #FFFFFF;
                    background-color: $color-b;
                }
                .day-w {
                    color: #343A40;
                    background-color: #FFDF4D;
                }
                .day-g {
                    color: rgb(0,0,0,0);
                    -webkit-text-stroke: 1px #D9E0E2;
                    background-color: #A5B1B5;
                }
                
            }
    
            .mission-card {
                width: 808px; height: 86px;
                background-color: #FFFFFF;
                border-radius: 20px;
                position: relative;
    
                table {
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%,-50%);
    
                    border-spacing: 16px;
                    border-collapse: separate;
                }
    
                .circle {
                    width: 56px; height: 56px;
                    background-color: #6FA7FF;
                    border-radius: 100%;
                
                    font-size: 40px;
                    color: #FFFFFF;
    
                    position: relative;
    
                    span {
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-53%,-53%);
                    }
                }
            }
        }
    }
}

@media ( max-width: $mobile ) {

    .myturtle {

        color: #FFFFFF;
        margin-bottom: 10rem;
        padding: 0rem 3rem;

        .myturtle-title {
            position: relative;
            
            h1 {
                font-size: 4.2rem;
                font-weight: bold;
                margin-right: 1rem;

                position: absolute;
                left: 0; bottom: 1rem;
            }
    
            img {
                position: absolute;
                right: 0; bottom: 0;
                height: 2rem;
            }
        }
        
        .turtle {
            min-width: 50%;
            margin-left: 2rem;
        }
        
        .goal {
            min-width: 100%;
            margin-top: 3rem;
        }

        .card-w {
            background-color: $color-w;
        }
        .card-g {
            background-color: $color-g;
        }
        
        .view {
            min-width: 60%;
            min-height: 20rem;
            position: relative;
            margin-left: 0rem;
            padding: 1.5rem 3rem;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            border-bottom-left-radius: 2rem;
    
            img { 
                width: 50%;
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%,-50%);
            }
    
            cm-t {
                display: block;
                font-size: 2rem;
                font-weight: bold;
            }
            cm-m {
                position: absolute;
                top: 55%;
                transform: translateY(-55%);
                
                input[type="checkbox"] {
                    display:none;
                }
                input[type="checkbox"] + label {
                    font-size: 2.2rem;
                    margin-bottom: 1rem;
                }
                input[type="checkbox"] + label span {
                    display:inline-block;
                    width:3rem; height:3rem;
                    margin-right: 2rem;
                    vertical-align:middle;
                    border: 3px solid #FFFFFF;
                    border-radius: 100%;
                    cursor:pointer;
                }
                input[type="checkbox"]:checked + label span {
                    background-color: #FFFFFF;
                    border-radius: 100%;
                }
                
            }
            cm-b {
                position: absolute;
                bottom: 0; right: 2rem;
                
                f1 {
                    font-size: 2rem;
                    font-weight: bold;
                    margin-right: 15px;
                }
                f2 {
                    font-size: 4rem;
                    font-weight: bold;
                    color: rgb(0,0,0,0);
                    -webkit-text-stroke: 1px #FFF;
                }
            }
        }

        .goal > .view {
            height: 25rem;
            padding: 2.5rem 5rem;
        }
        .goal > .view > cm-b { bottom: 2rem; right: 3rem;}
        
    }

    .calender-menu {
        .calendar-pad {
            position: relative;
            
            .calendar-pad-img {width: 600px;}
        
            .calendar-card {
                position: absolute;
                padding: 10%;
                z-index: 1;
        
                .calendar-logo {
                    width: 50%;
                    display: block;
                    margin: 0 auto;
                }
        
                hr {
                    color: #FFFFFF;
                    border: solid 3px #FFFFFF;
                    margin: 2.5rem 0;
                }
        
                .calender-card {
                    background-color: #FFFFFF;
                    border-radius: 1.5rem;
                    margin: 0 auto;
                    padding: 0.5rem;
        
                    .arrow-left {
                        transform: rotate(90deg);
                    }
                    .arrow-right {
                        transform: rotate(-90deg);
                    }
        
                    .calender-date {
                        font-size: 3rem;
                        font-weight: bold;
                        color: #343A40;
                    }
        
                    .calender-goal {
                        margin-top: 1rem;
                        color: #343A40;
        
                        .f1 {
                            font-size: 1.8rem;
                            margin-right: 1rem;
                        }
                        .f2 {
                            font-size: 2.5rem;
                            font-weight: bold;
                            line-height: 3.5rem;
                            margin-right: 1rem;
                        }
                    }
        
                    #calender_target {
                        width: 100%;
                        border-collapse: separate;
                        border-spacing: 0.5rem;
                    }
        
                    .day {
                        height: 4rem;
                        line-height: 3rem;
                        border-radius: 1rem;
                        font-size: 2rem;
                        text-align: center;
                    }
        
                    .day-d {
                        color: rgb(0,0,0,0);
                        -webkit-text-stroke: 1px #FFFFFF;
                        background-color: #D9E0E2;
                    }
                    .day-b {
                        color: #FFFFFF;
                        background-color: $color-b;
                    }
                    .day-w {
                        color: #343A40;
                        background-color: #FFDF4D;
                    }
                    .day-g {
                        color: rgb(0,0,0,0);
                        -webkit-text-stroke: 1px #D9E0E2;
                        background-color: #A5B1B5;
                    }
                    
                }
        
                .mission-card {
                    width: 808px; height: 86px;
                    background-color: #FFFFFF;
                    border-radius: 20px;
                    position: relative;
        
                    table {
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%,-50%);
        
                        border-spacing: 16px;
                        border-collapse: separate;
                    }
        
                    .circle {
                        width: 56px; height: 56px;
                        background-color: #6FA7FF;
                        border-radius: 100%;
                    
                        font-size: 40px;
                        color: #FFFFFF;
        
                        position: relative;
        
                        span {
                            position: absolute;
                            top: 50%; left: 50%;
                            transform: translate(-53%,-53%);
                        }
                    }
                }
            }
        }
    }
}