/* Modal */
#modal {
  position: relative;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 10;
}
.black-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: $btp-border;
  user-select:all;
  cursor: default;
  
  .btn-x {
    position: absolute;
    top: 25px;
    right: 50px;
    font-weight: 500;
    font-size: 30px;
    color: #a4a4a4;
  }
}

.mg-bk {
  background: $btpblack;
  h1 {
    color: #ffffff;
  }
}

.mg-wh {
  background: #ffffff;
}

.ms-l {
  width: 1229px;
  height: 490px;
  padding: 3.5rem;
  text-align: center;

  img {
    margin: 37px 0px;
  }
  h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
  h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;
    color: #a4a4a4;
  }
}

.ms-m {
  width: 35rem;
  height: 80%;

  .modal-body {
    padding: 3rem;
  }

  .modal-bottom{
    
    padding: 0 3rem;

    .m-str-btn {
      background-color: $btp-mint;
      color: $btp-green;
      font-size: 2rem;
      text-align: center;
      
      div {
        display: inline;
        padding: 1rem;
      }
    }
  }
  
  img {
    width: 100%;
    height: 40%;
  }
  h1 {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #a4a4a4;
  }
}

.m-stretching-time {
  text-align: center;
  margin: 3rem 0;

  .time {
    display: inline;
    font-size: 3rem;
    margin: 0 1rem;
  }
}