$btnGreen: #61c997;

.app-container {
  background-color: white;
}

.btp-title {
  p {
    font-size: 15px;
  }
}

.myroutine-container {
  width: 100%;
  display: flex;
  padding-bottom: 100px;
}

.listbox {
  margin-right: 30px-5px;

  h1 {
    margin: 0;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }

  .listbox-content {
    position: relative;
    width: 277px;
    padding: 29.54px 18px;
    border-radius: 20px;
    background-color: rgb(196, 196, 196, 0.2);
    padding-top: 30px;
    text-align: center;
  }

  .listbox-timer {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: $btpblack;

    span {
      color: $btnGreen;
    }
  }

  .button-box {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;

    button {
      padding: 7px 33px;
      border-radius: 40px;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      color: white;
    }

    .reset {
      background-color: #949494;
    }

    .save {
      background-color: #61c997;
    }

  }

  .routineComponent {
    padding: 5px 0px 5px 0px;
    margin-right: 7px;
  }

  .basic-scroll {
    position: relative;
    left: 3px;
    overflow-x: hidden;
    width: 250px;
    height: 480px;
    margin: 0 auto;
  }
}

.stretch-container {
  flex-grow: 1;
  //   float: right;
  position: relative;
}

.category {
  margin-bottom: 50px;

  .category-btn {
    height: 30px;
    border-radius: 10px;
    padding: 0px 20px;
  }

  .category-btn:not(:last-child) {
    margin-right: 10px;
  }

  .on {
    background-color: #61c997;
    color: white;
  }

  .off {
    background-color: #ecf0f4;
  }
}

.stretch-card {
  position: relative;
  right: 15px;

  .stretching-card {
    margin: 0 15px 45px 15px;
  }
}

@media (max-width: $mobile) {
  
  .btp-title {
    p {
      font-size: 15px;
    }
  }
  
  .myroutine-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }
  
  .listbox {
    position: sticky;
    top: 0px;
    z-index: 2;
    margin: 0;
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
  
    h1 {
      margin: 0;
      padding-bottom: 15px;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
    }
  
    .listbox-content {
      position: relative;
      width: auto;
      height: 176px;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(196, 196, 196, 0.2);
      text-align: center;
    }
  
    .listbox-timer {
      position: absolute;
      top: 25px;
      right: 15px;
      width: 30%;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $btpblack;
  
      span {
        color: $btnGreen;
      }
    }
  
    .button-box {
      position: absolute;
      right: 15px;
      bottom: 18px;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 18px;
  
      button {
        padding: 5px 0px;
        border-radius: 40px;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        color: white;
      }
  
      .reset {
        background-color: #949494;
        margin-bottom: 10px;
      }
  
      .save {
        background-color: #61c997;
      }
  
    }
  
    .routineComponent {
      padding: 5px 0px 5px 0px;
      margin-right: 7px;
    }
  
    .basic-scroll {
      position: absolute;
      left: 0px;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 60%;
      height: 150px;
      margin-left: 15px;
    }
  }
  
  .stretch-container {
    flex-grow: 1;
    //   float: right;
    position: relative;
  }
  
  .category {
    margin-bottom: 50px;
  
    .category-btn {
      height: 30px;
      border-radius: 10px;
      padding: 0px 20px;
    }
  
    .category-btn:not(:last-child) {
      margin-right: 10px;
    }
  
    .on {
      background-color: #61c997;
      color: white;
    }
  
    .off {
      background-color: #ecf0f4;
    }
  }
  
  .stretch-card {
    position: relative;
    right: 15px;
  
    .stretching-card {
      margin: 0 15px 45px 15px;
    }
  }
}