$btp-green: #61c997;

.app-container {
  background-color: white;
}

.routine-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 18.54px;
  justify-content: space-between;
  white-space: nowrap;
}

.routine-starter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(196, 196, 196, 0.2);
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  height: 172px;
  width: 364px;
  border-radius: 20px;
  p {
    margin-bottom: 14px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    span {
      color: $btp-green;
    }
  }
  button {
    padding: 14px 48px;
    background-color: $btp-green;
    border-radius: 46px;
    font-size: 24px;
    font-weight: 700;
    color: white;
  }
}

.routine-menu {
  font-size: 30px;
  margin-bottom: 20px;
  a {
    color: inherit;
  }
}

.content-img{
  position: relative;
  margin-right: 2rem;

  .turtle_grow {
    position:absolute;
    top:0;
    right: 0;
    width: 32px;
    height: 32px;
    margin: 1.5rem;
  }
}