body {
  background-color: white;
  height: 90vh;
}
#Settings {
  position: relative;
}
.profile-container {
  display: flex;
  .profile-label {
    display: block;
    margin-bottom: 20px;
    color: #757575;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  #picture {
    margin-right: 12.5%;
    .profile-pic-wrap {
      position: relative;
      margin-top: 30.93px-20px;
      margin-bottom: 45.21px;
      .profile-edit {
        border: 2px solid rgba(255, 255, 255);
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 2.79px;
        z-index: 1;
      }
      #profile-pic {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        img {
          margin: auto 0;
          width: 100%;
          height: auto;
        }
      }
    }
    .savebtn {
      display: block;
      width: 160px;
      height: 60px;
      margin: 0 auto;
      border-radius: 73.2px;
      background-color: rgb(226, 226, 226, 0.6);
      color: #2f2f2f;
      font-size: 22.6804px;
      line-height: 31px;
    }
    .on {
      color: white;
      background-color: #61c997;
    }
  }
}
#naming {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: auto;
  .input-container {
    margin: 0;
    .name {
      width: 423px;
      height: 74px;
      margin-bottom: 72px;
    }
    .promise {
      width: 100%;
      height: 92px;
    }
    .input-default {
      border: solid 2.06px #d0d0d0;
      padding: 26px 22px;
      font-weight: bold;
      font-size: 22.6804px;
      line-height: 28px;
      border-radius: $btp-border;
    }
    .input-default:hover {
      border-color: #5b5b5b;
    }
    .input-default:focus {
      outline-color: #61c997;
    }
    input::placeholder {
      font-size: 22.6804px;
      line-height: 28px;
      font-style: normal;
      font-weight: normal;
      color: #9b9b9b;
    }
  }
}
.input-container:first-child {
  margin-bottom: 72px;
}

.setting-hr {
  margin-top: 38px;
  margin-bottom: 14px;
}
.quit-bottom {
  text-align: right;
}
.quit {
  font-size: 18px;
  line-height: 23px;
  color: #aaaaaa;
  position: relative;
  text-decoration: underline;
  text-underline-offset: 10%;
}
