*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background-color: #333333;
}

#desc{
  width: 62.5vw;
  margin: 0 auto;
  padding-top: 70px;
  margin-bottom: 54px;
  color: white;
  // white-space: nowrap;
  h1{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 52px;
    line-height :65.1px;
  }
  p{
    font-size: 20px;
    line-height: 27px;
    color: #D9E0E2;
  }
}

.story-page {
  text-align: center;
}
#story-container{
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

#slider {
  overflow : hidden;
  min-width: 700px; //임의
  width: 62.5vw;
  height: 86vh;
  margin: 0 30px;
}

@for $cardnum from 1 to 9 {
  .card#{$cardnum}{
    width:100%;
    height:100%;
    background-image:url("../assets/images/story/BS"+ $cardnum + ".png");
    background-size: cover;
    background-position: top center;
  }
}

#finalimg{
  position: relative;
}
.story-btn{
  position: absolute;
  top: 17%;
  left: 448.5px; //43.7%;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
#blink {
  animation: blink-effect 1s step-end infinite;
}


#go-stretching {
  margin-top: 30px;
  margin-bottom: 76px;
  background-color: $color-w;
  padding: 14px 48px;
  border-radius: 46px;
  font-weight: bold;
font-size: 24px;
line-height: 30px;
color: $btpblack;
white-space: nowrap;
}