.category-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .category {
    .category-btn {
      font-size: 18px;
      font-weight: 500;
      border-radius: 12px;
      padding: 10px 28px;
    }

    .category-btn:not(:last-child) {
      margin-right: 18px;
    }

    input[type="radio"] {
      display: none;
    }

    label {
      cursor: pointer;
      background-color: #ecf0f4;
    }

    input:checked + label {
      background-color: $btp-green;
      color: white;
    }
  }
}

.bookmark {
  display: flex;
  align-items: center;

  //onoff 버튼
  span {
    margin-right: 18px;
    font-size: 18px;
    font-weight: 700;
    color: $btpblack;
  }

  .onoff-button {
    display: inline-block;
    position: relative;
    bottom: 21px-13px;

    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
      position: relative;
    }

    label {
      cursor: pointer;
      background-color: #b8b8b8;
      margin: auto 0;
      display: block;
      height: 28px;
      width: 62px;
      border-radius: 28px;
      transition: 0.1s;
    }

    label:after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 3px;
      background: white;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      transition: 0.2s;
    }

    input:checked + label {
      background: $btp-green;
    }

    input:checked + label:after {
      left: calc(100% - 3px);
      transform: translateX(-100%);
    }
  }
}
.stretchList {
  display: flex;
  max-width: 1202px;
  flex-wrap: wrap;
  gap: 45px 30px;
}
