$btp-green: #61c997;

.app-container {
  background-color: white;
}

.progress-time {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    
  }
  p {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(0, 0, 0, 0.47);
  }
}
// 마이루틴 progress bar
.progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: transparent;
  progress {
    width: 100%;
    border: none;
  }
  ::-webkit-progress-bar,
  ::-webkit-progress-value {
    border-radius: 10px;
  }
  ::-webkit-progress-bar {
    height: 10px;
    background-color: #c4c4c4;
  }
  ::-webkit-progress-value {
    background-color: $btp-green;
  }
}

.category {
  margin-top: 40px;
  margin-bottom: 40px;
  .category-btn {
    height: 30px;
    border-radius: 10px;
    padding: 0px 20px;
  }
  .category-btn:not(:last-child) {
    margin-right: 10px;
  }
  .on {
    background-color: $btp-green;
    color: white;
  }
  .off {
    background-color: #ecf0f4;
  }
}
.stretchList {
  display: flex;
  max-width: 1202px;
  flex-wrap: wrap;
  .st-item {
    margin: 10px;
  }
}
