//헤더
$menu-gray : #757E86;

.logo {
  display: inline-block;
    width: 134px;
}

#header {
  height: 100px;
  min-width: 800px;
  background-color: white;
  white-space: nowrap;
  border: 1px solid rgba($color: #000000, $alpha: 0.3)
}

#header-box {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  align-items: center;
  nav {
    flex: 1;
    ul {
      margin: 0px;
      padding:0px;
    }
  }
  .my-menu {
    flex: 1;
    text-align: right;
  }
  a {
    flex: 1;
    width: max-content;
    text-align: center;
  }

}

.nav-text{
  display: inline;
  font-size: 18px;
  color: $menu-gray;
} 
.nav-item:not(:last-child) {
  margin-right: 3vw;
  white-space: nowrap;
}

#now-page {
  font-weight: bold;
  color: $btpblack;
}

.my-menu {
  display: inline;
  img {
    display: inline-block;
    width: 25.5px;
  }
  a:last-child{
    margin-left: 2.2vw;
  }
}